.post-title {
  text-align: center;
  font-weight: bold;
}

.desc {
  font-weight: bold;
  font-size: 30px;
}

.cover-image {
  height: 340px;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100% !important;
  }
}
