.cellphones {
  display: flex;
}

.cellphone-cards {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-check {
  margin: 5px;
}

.form-check > input {
  margin-right: 10px;
}
