.post {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-title {
  text-align: center;
}

.specifications {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cover-image {
  display: grid;
}

.cover-image > .image {
  align-self: center !important;
  width: 80% !important;
  height: auto !important;
}

.image {
  border-radius: 50px !important;
}